---
import Layout from "@layouts/layout.astro";

---

<Layout title="404">
  <div class="flex flex-col items-center justify-center min-h-[calc(100vh-4rem)] text-text">
    <h1 class="text-9xl font-vt323 text-center">HTTP <span class="text-[#E40000]">404</span></h1>
    <p class="text-2xl font-atkinson mb-8">Page Not Found</p>
    <p class="text-lg text-center mb-4 w-[90vw] md:w-[50vw]">Whatever you were looking for either never existed, or filed for bankruptcy and closed up shop.<br>Maybe we should get you back home?</p>
    <a href="/" class="text-xl underline hover:no-underline text-indigo-950">Get Back Home</a>
  </div>
</Layout>